header {
  width: 100%;
  font-family: $base-font;
  background: rgba(0, 0, 0, 0.6);

  .container {
    margin: 0 auto;
    width: 70%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .rightSection {
      // .menuButton {
      //   display: none;
      //   background-color: #1abc9c;
      //   padding: 0.8rem;
      //   border: 0;
      //   color: #fff;
      //   font-family: "Montserrat", sans-serif;
      //   font-size: 12.8px;
      //   border-radius: 8px;
      // }

      nav ul {
        display: flex;
        align-items: center;
        gap: 30px;

        li a {
          color: $grey-color;
        }
      }
    }
  }
}
