.joinThrivingCommunitySection {
  width: 100%;
  font-family: $base-font;

  .container {
    width: 73%;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-weight: 400;
      font-size: 38px;
      line-height: 46px;
      letter-spacing: 1px;
      color: #fff;
      margin: 0 auto;
      text-align: center;
    }

    p {
      font-weight: 400;
      font-size: 26px;
      line-height: 36px;
      letter-spacing: 1px;
      color: #fff;
      margin: 30px auto;
      text-align: center;
    }

    button {
      @include button();
    }
  }
}
