@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    header {
      .blueSection .container p {
        font-size: 14px;
      }

      .container {
        padding: 15px 0;
        width: 80%;

        .leftSection {
          img {
            width: 120px;
          }
        }
        .rightSection {
          nav ul li a {
            font-size: 14px;
          }
        }
      }
    }

    .mainPageSection {
      img {
        top: -100px;
      }

      .bgImg1 {
        display: none;
      }

      .container {
        width: 80%;

        h1 {
          font-size: 48px;
        }

        p {
          font-size: 18px;
          padding: 0;
        }
      }
    }

    .companiesSection {
      width: 80%;

      .container {
        width: 100%;

        ul {
          width: 100%;
          gap: 20px;
          flex-wrap: wrap;

          li img {
            width: 120px;
          }
        }
      }
    }

    .joinCommunitySection {
      .container {
        width: 80%;

        .leftSection h3 {
          font-size: 32px;
        }

        .rightSection {
          gap: 20px;

          .num1 {
            h2 {
              font-size: 70px;
              line-height: 100px;
            }
          }

          .num2 {
            h2 {
              font-size: 70px;
              line-height: 100px;
            }
          }

          .num3 {
            h2 {
              font-size: 70px;
              line-height: 100px;
            }
          }
        }
      }
    }

    .massAdoptionSection {
      .container {
        width: 80%;
        flex-direction: column;
        padding: 0;

        .leftSection {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 30px;

          h3 {
            font-size: 30px;
            text-align: center;
          }
        }

        .rightSection {
          gap: 50px;
          flex-direction: column;
          align-items: center;

          .firstTwoCard {
            margin-top: 50px;
          }

          .twoCards {
            flex-direction: row;

            .card {
              .cardFirstHeading {
                font-size: 24px;
              }

              p {
                font-size: 14px;
              }

              .number {
                font-size: 24px;
              }
            }
          }
        }
      }
    }

    .buildForGrowthSection {
      .container {
        width: 80%;

        .middleSection {
          .card {
            img {
              width: 200px;
            }
          }
        }

        .topSection {
          margin: 20px 0;

          h2 {
            font-size: 32px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
}
