header {
  width: 100%;
  font-family: Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
header .blueSection {
  width: 100%;
  font-family: Helvetica, sans-serif;
  background: linear-gradient(260.33deg, #0047ff -13.37%, #00bcd4 109.53%);
}
header .blueSection .container {
  margin: 0 auto;
  width: 80%;
  padding: 8px 0;
}
header .blueSection .container p {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
}
header .header .container {
  margin: 0 auto;
  width: 70%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .header .container .menuContainer {
  background-color: rgba(85, 79, 79, 0.6);
  padding: 13px;
  border: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  border-radius: 8px;
  display: none;
}
header .header .container .menuContainer svg {
  height: 0.8rem;
  vertical-align: -0.125em;
}
header .header .container .rightSection nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .header .container .rightSection nav ul li a {
  color: #848895;
}

body {
  background-color: #000;
}
body .mainPageSection {
  width: 100%;
  font-family: Helvetica, sans-serif;
  position: relative;
}
body .mainPageSection img {
  position: absolute;
  top: -50px;
  z-index: -1;
}
body .mainPageSection .bgImg1 {
  left: 0;
}
body .mainPageSection .bgImg2 {
  right: 0;
}
body .mainPageSection .container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding-top: 150px;
}
body .mainPageSection .container h1 {
  font-weight: 400;
  font-size: 70px;
  letter-spacing: 0.68px;
  text-align: center;
  color: #fff;
}
body .mainPageSection .container p {
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  margin: 30px 0;
  padding: 0 170px;
}
body .mainPageSection .container .buttons {
  display: flex;
  gap: 20px;
}
body .mainPageSection .container .buttons .startBuildingBtn {
  background: linear-gradient(98.88deg, #8c01fa -2.99%, #000000 102.28%);
  border: 1px solid #000;
  border-radius: 36px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 30px;
  cursor: pointer;
}
body .mainPageSection .container .buttons .readDocsBtn {
  background: linear-gradient(98.88deg, #8c01fa -2.99%, #000000 102.28%);
  border: 1px solid #fff;
  border-radius: 36px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 30px;
  cursor: pointer;
  background: transparent;
}

.companiesSection {
  width: 60%;
  font-family: Helvetica, sans-serif;
  background-color: transparent;
  margin: 0 auto;
}
.companiesSection .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
.companiesSection .container p {
  color: #618adc;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.companiesSection .container ul {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.joinCommunitySection {
  width: 100%;
  font-family: Helvetica, sans-serif;
  position: relative;
}
.joinCommunitySection img {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.joinCommunitySection .container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.joinCommunitySection .container .leftSection h3 {
  color: #fff;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 1px;
  margin-top: 80px;
}
.joinCommunitySection .container .rightSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.joinCommunitySection .container .rightSection .numbers p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #c4c4c4;
}
.joinCommunitySection .container .rightSection .num1 h2 {
  font-weight: 400;
  font-size: 101px;
  line-height: 132px;
  background: linear-gradient(261.81deg, #19fb9b -8.01%, #8c01fa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.joinCommunitySection .container .rightSection .num2 h2 {
  font-weight: 400;
  font-size: 106px;
  line-height: 132px;
  background: linear-gradient(260.33deg, #0047ff -13.37%, #00bcd4 109.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.joinCommunitySection .container .rightSection .num3 h2 {
  font-weight: 400;
  font-size: 110px;
  line-height: 132px;
  background: linear-gradient(265.11deg, #00ffbd -5.84%, #025b8c 111.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.massAdoptionSection {
  width: 100%;
  font-family: Helvetica, sans-serif;
}
.massAdoptionSection .container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
.massAdoptionSection .container .leftSection {
  margin-top: 100px;
}
.massAdoptionSection .container .leftSection h3 {
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 15px;
}
.massAdoptionSection .container .leftSection p {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #c4c4c4;
  display: flex;
  align-items: flex-start;
  gap: 7px;
}
.massAdoptionSection .container .rightSection {
  display: flex;
  gap: 50px;
}
.massAdoptionSection .container .rightSection .firstTwoCard {
  margin-top: 120px;
}
.massAdoptionSection .container .rightSection .twoCards {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.massAdoptionSection .container .rightSection .twoCards .card {
  width: 340px;
  background: rgba(0, 0, 0, 0.28);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 24px;
  padding: 20px;
}
.massAdoptionSection .container .rightSection .twoCards .card .cardFirstHeading {
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #fff;
  padding-left: 15px;
  margin-bottom: 20px;
}
.massAdoptionSection .container .rightSection .twoCards .card .fast {
  border-left: 3px solid #1fcff1;
}
.massAdoptionSection .container .rightSection .twoCards .card .scalable {
  border-left: 3px solid #9945ff;
}
.massAdoptionSection .container .rightSection .twoCards .card .decentralized {
  border-left: 3px solid #ffd512;
}
.massAdoptionSection .container .rightSection .twoCards .card .energy {
  border-left: 3px solid #19fb9b;
}
.massAdoptionSection .container .rightSection .twoCards .card p {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #c4c4c4;
}
.massAdoptionSection .container .rightSection .twoCards .card p a {
  color: #19fb9b;
  text-decoration: underline;
}
.massAdoptionSection .container .rightSection .twoCards .card .number {
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  gap: 7px;
  margin: 20px 0 10px;
}

.buildForGrowthSection {
  width: 100%;
  font-family: Helvetica, sans-serif;
  background-color: #000;
}
.buildForGrowthSection .container {
  width: 60%;
  margin: 0 auto;
  padding: 40px 0;
}
.buildForGrowthSection .container .topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}
.buildForGrowthSection .container .topSection h2 {
  font-weight: 400;
  font-size: 39px;
  line-height: 46px;
  letter-spacing: 1px;
  color: #fff;
}
.buildForGrowthSection .container .topSection .buttons {
  display: flex;
  gap: 25px;
}
.buildForGrowthSection .container .topSection .buttons button {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  border: 0;
  background: transparent;
  padding: 6px 10px;
}
.buildForGrowthSection .container .topSection .buttons .active {
  border: 1px solid #a962ff;
  border-radius: 15px;
}
.buildForGrowthSection .container .middleSection {
  width: 100%;
}
.buildForGrowthSection .container .middleSection .card {
  display: flex;
  width: 100%;
}
.buildForGrowthSection .container .middleSection .card .manCartoonPhoto {
  width: 50%;
}
.buildForGrowthSection .container .middleSection .card .rightOfCard {
  background: #1a1a1a;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}
.buildForGrowthSection .container .middleSection .card .rightOfCard p {
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  color: #ffffff;
  margin: 10px 0 15px;
}
.buildForGrowthSection .container .middleSection .card .rightOfCard a {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #a962ff;
}
.buildForGrowthSection .container .bottomSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
  padding: 10px 0;
  background: rgba(38, 31, 38, 0.3);
  border-radius: 16px;
}

.joinThrivingCommunitySection {
  width: 100%;
  font-family: Helvetica, sans-serif;
}
.joinThrivingCommunitySection .communityHeading {
  width: 60%;
  display: flex;
  margin: 50px auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.joinThrivingCommunitySection .communityHeading h2 {
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 1px;
  color: #fff;
}
.joinThrivingCommunitySection .communityHeading img {
  position: absolute;
  top: 0;
  z-index: -1;
}
.joinThrivingCommunitySection .imageSliders {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: transparent;
}
.joinThrivingCommunitySection .imageSliders .col1,
.joinThrivingCommunitySection .imageSliders .col3,
.joinThrivingCommunitySection .imageSliders .col4,
.joinThrivingCommunitySection .imageSliders .col5 {
  width: 16%;
}
.joinThrivingCommunitySection .imageSliders .col2 {
  width: 32%;
}
.joinThrivingCommunitySection .imageSliders #item-1,
.joinThrivingCommunitySection .imageSliders #item-2,
.joinThrivingCommunitySection .imageSliders #item-3,
.joinThrivingCommunitySection .imageSliders #item-5,
.joinThrivingCommunitySection .imageSliders #item-7 {
  width: 100%;
  height: 50%;
}
.joinThrivingCommunitySection .imageSliders #item-2,
.joinThrivingCommunitySection .imageSliders #item-5 {
  height: 100%;
}
.joinThrivingCommunitySection .imageSliders #item-3 img {
  height: 100%;
}
.joinThrivingCommunitySection .imageSliders #item-0,
.joinThrivingCommunitySection .imageSliders #item-4,
.joinThrivingCommunitySection .imageSliders #item-6 {
  background-color: #19161c;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.joinThrivingCommunitySection .imageSliders img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.joinThrivingCommunitySection .imageSliders div {
  max-width: 100%;
  max-height: 100%;
}
.joinThrivingCommunitySection .imageSliders h4 {
  font-weight: 400;
  font-size: 37px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 1px;
  color: #f087ff;
}
.joinThrivingCommunitySection .imageSliders h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #bababa;
}
.joinThrivingCommunitySection .communityText {
  width: 45%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.joinThrivingCommunitySection .communityText h2 {
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
}
.joinThrivingCommunitySection .communityText button {
  margin-top: 30px;
  background: linear-gradient(98.88deg, #8c01fa -2.99%, #000000 102.28%);
  border: 1px solid #000;
  border-radius: 36px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 30px;
  cursor: pointer;
}

footer {
  width: 100%;
  font-family: Helvetica, sans-serif;
  background-color: #000508;
}
footer .container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
footer .container .leftSection img {
  margin-bottom: 20px;
}
footer .container .leftSection h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
}
footer .container .leftSection .socialMediaIcons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0 20px;
}
footer .container .leftSection p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #848895;
}
footer .container .rightSection {
  display: flex;
  align-items: flex-start;
  gap: 80px;
}
footer .container .rightSection div h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-bottom: 10px;
}
footer .container .rightSection div ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .container .rightSection div ul li {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #848895;
}
footer .container .rightSection .globus {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
footer .container .rightSection .globus p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #848895;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body header .blueSection .container p {
    font-size: 14px;
  }
  body header .header .container {
    padding: 15px 0;
  }
  body header .header .container .leftSection img {
    width: 120px;
  }
  body header .header .container .rightSection nav ul li a {
    font-size: 14px;
  }
  body .mainPageSection img {
    top: -100px;
  }
  body .mainPageSection .bgImg1 {
    display: none;
  }
  body .mainPageSection .container {
    width: 80%;
  }
  body .mainPageSection .container h1 {
    font-size: 48px;
  }
  body .mainPageSection .container p {
    font-size: 18px;
    padding: 0;
  }
  body .companiesSection {
    width: 80%;
  }
  body .companiesSection .container {
    width: 100%;
  }
  body .companiesSection .container ul {
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
  }
  body .companiesSection .container ul li img {
    width: 120px;
  }
  body .joinCommunitySection .container {
    width: 80%;
  }
  body .joinCommunitySection .container .leftSection h3 {
    font-size: 32px;
  }
  body .joinCommunitySection .container .rightSection {
    gap: 20px;
  }
  body .joinCommunitySection .container .rightSection .num1 h2 {
    font-size: 70px;
    line-height: 100px;
  }
  body .joinCommunitySection .container .rightSection .num2 h2 {
    font-size: 70px;
    line-height: 100px;
  }
  body .joinCommunitySection .container .rightSection .num3 h2 {
    font-size: 70px;
    line-height: 100px;
  }
  body .massAdoptionSection .container {
    width: 80%;
    flex-direction: column;
    padding: 0;
  }
  body .massAdoptionSection .container .leftSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  body .massAdoptionSection .container .leftSection h3 {
    font-size: 30px;
    text-align: center;
  }
  body .massAdoptionSection .container .rightSection {
    gap: 50px;
    flex-direction: column;
    align-items: center;
  }
  body .massAdoptionSection .container .rightSection .firstTwoCard {
    margin-top: 50px;
  }
  body .massAdoptionSection .container .rightSection .twoCards {
    flex-direction: row;
  }
  body .massAdoptionSection .container .rightSection .twoCards .card .cardFirstHeading {
    font-size: 24px;
  }
  body .massAdoptionSection .container .rightSection .twoCards .card p {
    font-size: 14px;
  }
  body .massAdoptionSection .container .rightSection .twoCards .card .number {
    font-size: 24px;
  }
  body .buildForGrowthSection .container {
    width: 80%;
  }
  body .buildForGrowthSection .container .middleSection .card .manCartoonPhoto {
    max-width: 50%;
  }
  body .buildForGrowthSection .container .middleSection .card .rightOfCard img {
    max-width: 50%;
  }
  body .buildForGrowthSection .container .middleSection .card .rightOfCard p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  body .buildForGrowthSection .container .middleSection .card .rightOfCard a {
    font-size: 14px;
  }
  body .buildForGrowthSection .container .topSection {
    margin: 20px 0;
  }
  body .buildForGrowthSection .container .topSection h2 {
    font-size: 32px;
  }
  body .joinThrivingCommunitySection .communityHeading h2 {
    font-size: 32px;
  }
  body .joinThrivingCommunitySection .communityHeading img {
    left: 0;
    max-width: 100%;
  }
  body .joinThrivingCommunitySection .imageSliders h4 {
    font-size: 20px;
    line-height: 25px;
  }
  body .joinThrivingCommunitySection .imageSliders h6 {
    font-size: 8px;
    line-height: 10px;
  }
  body .joinThrivingCommunitySection .communityText h2 {
    font-size: 25px;
    line-height: 30px;
  }
  body footer .container {
    width: 80%;
    padding: 50px 0;
    gap: 15px;
  }
  body footer .container .leftSection h3 {
    font-size: 14px;
  }
  body footer .container .leftSection .socialMediaIcons {
    gap: 7px;
    margin-bottom: 5px;
  }
  body footer .container .leftSection p {
    font-size: 14px;
  }
  body footer .container .rightSection {
    gap: 25px;
  }
  body footer .container .rightSection div h6 {
    font-size: 14px;
  }
  body footer .container .rightSection div ul {
    gap: 5px;
  }
}
@media screen and (max-width: 767px) {
  body header .blueSection .container p {
    font-size: 14px;
    line-height: 20px;
  }
  body header .header .container {
    padding: 10px 0;
  }
  body header .header .container .leftSection img {
    height: 20px;
  }
  body header .header .container .rightSection {
    display: none;
  }
  body header .header .container .menuContainer {
    display: block;
  }
  body .mainPageSection img {
    top: -100px;
  }
  body .mainPageSection .bgImg1 {
    display: none;
  }
  body .mainPageSection .container {
    width: 80%;
    padding-top: 200px;
  }
  body .mainPageSection .container h1 {
    font-size: 42px;
  }
  body .mainPageSection .container p {
    font-size: 15px;
    padding: 0;
    line-height: 23px;
    margin: 20px 0;
  }
  body .mainPageSection .container .buttons .startBuildingBtn,
  body .mainPageSection .container .buttons .readDocsBtn {
    font-size: 12px;
    padding: 10px 20px;
  }
  body .joinThrivingCommunitySection .communityHeading h2 {
    font-size: 32px;
  }
  body .joinThrivingCommunitySection .communityHeading img {
    left: 0;
    max-width: 100%;
  }
  body .companiesSection {
    width: 80%;
  }
  body .companiesSection .container {
    padding: 60px 0;
  }
  body .companiesSection .container ul {
    gap: 20px;
  }
  body .joinCommunitySection .container {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  body .joinCommunitySection .container .leftSection h3 {
    font-size: 32px;
    text-align: center;
  }
  body .joinCommunitySection .container .rightSection {
    gap: 15px;
  }
  body .joinCommunitySection .container .rightSection .numbers p {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }
  body .joinCommunitySection .container .rightSection .num1 h2 {
    font-size: 65px;
    line-height: 90px;
    text-align: center;
  }
  body .joinCommunitySection .container .rightSection .num2 h2 {
    font-size: 65px;
    line-height: 90px;
    text-align: center;
  }
  body .joinCommunitySection .container .rightSection .num3 h2 {
    font-size: 65px;
    line-height: 90px;
    text-align: center;
  }
  body .massAdoptionSection .container {
    width: 80%;
    flex-direction: column;
    padding: 0;
  }
  body .massAdoptionSection .container .leftSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  body .massAdoptionSection .container .leftSection h3 {
    font-size: 30px;
    text-align: center;
  }
  body .massAdoptionSection .container .rightSection {
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }
  body .massAdoptionSection .container .rightSection .firstTwoCard {
    margin-top: 50px;
  }
  body .massAdoptionSection .container .rightSection .twoCards {
    flex-direction: column;
    gap: 30px;
  }
  body .massAdoptionSection .container .rightSection .twoCards .card .cardFirstHeading {
    font-size: 24px;
  }
  body .massAdoptionSection .container .rightSection .twoCards .card p {
    font-size: 14px;
  }
  body .massAdoptionSection .container .rightSection .twoCards .card .number {
    font-size: 24px;
  }
  body .buildForGrowthSection .container {
    width: 80%;
  }
  body .buildForGrowthSection .container .topSection {
    margin: 20px 0;
  }
  body .buildForGrowthSection .container .topSection h2 {
    font-size: 28px;
    line-height: 40px;
  }
  body .buildForGrowthSection .container .topSection .buttons {
    gap: 10px;
  }
  body .buildForGrowthSection .container .topSection .buttons button {
    font-size: 13px;
    line-height: 27px;
    padding: 4px 8px;
  }
  body .buildForGrowthSection .container .middleSection .card .manCartoonPhoto {
    max-width: 50%;
  }
  body .buildForGrowthSection .container .middleSection .card .rightOfCard {
    padding: 0 30px;
  }
  body .buildForGrowthSection .container .middleSection .card .rightOfCard img {
    max-width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .buildForGrowthSection .container .middleSection .card .rightOfCard p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  body .buildForGrowthSection .container .middleSection .card .rightOfCard a {
    font-size: 12px;
    line-height: 20px;
  }
  body .joinThrivingCommunitySection .communityHeading {
    width: 80%;
  }
  body .joinThrivingCommunitySection .communityHeading h2 {
    font-size: 28px;
    line-height: 30px;
    margin: 0 auto;
  }
  body .joinThrivingCommunitySection .communityHeading img {
    left: 0;
    max-width: 100%;
  }
  body .joinThrivingCommunitySection .imageSliders h4 {
    font-size: 13px;
    line-height: 25px;
  }
  body .joinThrivingCommunitySection .imageSliders h6 {
    font-size: 6px;
    line-height: 10px;
  }
  body .joinThrivingCommunitySection .communityText {
    width: 70%;
    margin: 40px auto;
  }
  body .joinThrivingCommunitySection .communityText h2 {
    font-size: 16px;
    line-height: 22px;
  }
  body .joinThrivingCommunitySection .communityText button {
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 15px;
  }
  body footer .container {
    width: 80%;
    padding: 50px 0;
    gap: 15px;
  }
  body footer .container .leftSection h3 {
    font-size: 12px;
    line-height: 20px;
  }
  body footer .container .leftSection .socialMediaIcons {
    gap: 7px;
    margin: 10px 0;
  }
  body footer .container .leftSection .socialMediaIcons img {
    margin: 5px 0;
    height: 12px;
  }
  body footer .container .leftSection p {
    font-size: 12px;
    line-height: 20px;
  }
  body footer .container .rightSection {
    gap: 20px;
    justify-content: space-between;
  }
  body footer .container .rightSection div h6 {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 7px;
  }
  body footer .container .rightSection div ul {
    gap: 0;
  }
}/*# sourceMappingURL=main.css.map */